@import "functions";
@import "mixins";
@import "variables";
@import "variables-custom";

// scss-docs-start import bootstrap
// Configuration
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import bootstrap

@import "elements/accordion";
@import "elements/cards";
@import "elements/tile-layout";
@import "elements/tile-slider";
@import "elements/hero-slider";
@import "elements/faq-accordion";
@import "elements/panorama";
@import "global/fonts";
@import "global/footer";
@import "global/header";
@import "global/layout";
@import "global/navigation";
@import "global/containers";
@import "pages/single-column";
@import "pages/contact";
@import "pages/about-us";

.body {
  color: $primary;
}

.carousel .carousel-item {
  max-height: 550px;
}

.carousel-item img {
  object-fit: cover;
  max-height: 5650px;
}

.cta {
  text-align: center;
  padding: 4.25rem 1.5rem 4.5rem;
}

.card-links {
  color: $gray-500;
  // font-family: "Aeonik Pro Regular", serif;
  font-weight: 600;
}

.partners {
  display: inline-block;

  .partner-card {
    width: 190px;
    padding: 0.5rem;

    @include media-breakpoint-down(md) {
      width: 120px;
    }
  }
}

.stage {
  padding-top: 2.25rem;
  padding-bottom: 4.375rem;

  @include media-breakpoint-down(sm) {
    padding-top: 1.75rem;
    padding-bottom: 2.625rem;
  }
}

.editable_content {
  text-align: -webkit-center;
}

// .newsletter {
//   margin-top: 1rem;
// }

// .statement {
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }

// .profile-picture {
//   display: inline-block;
//   width: 75px;
//   height: 75px;
//   border-radius: 50%;
//   margin: 1rem;

//   background-repeat: no-repeat;
//   background-position: center center;
//   background-size: cover;

//   @include media-breakpoint-down(sm) {
//     width: 60px;
//     height: 60px;
//   }
// }

// .quote-picture {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   text-align: left;

//   @media (max-width: 475px) {
//     flex-direction: column;
//     text-align: center;
//   }
// }

// .portrait {
//   max-width: 450px;
//   padding: 1.5rem;

//   @include media-breakpoint-down(lg) {
//     max-width: 350px;
//   }
// }

// .text-quote {
//   padding: 1.5rem;

//   // @include media-breakpoint-down(lg) {
//   //   text-align: center;
//   // }
// }

// .text-icon {
//   padding-bottom: 2.5rem;
// }

// .img-wide {
//   height: 650px;
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-size: cover;

//   @include media-breakpoint-down(lg) {
//     height: 350px;
//   }
//   @include media-breakpoint-down(sm) {
//     height: 250px;
//   }
// }
